:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif ;
  line-height: 1.5;
  font-weight: 400;

  color: white;
  background-color: #01030e;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#root {
  min-height: 100vh;
  display: flex;
  display: relative;
}

.home {
  height: 10vh;
  width: 100%;
  background-color:rgba(0, 0, 0, 0.1);
}

.imgContainer {
  display: flex;
  flex-direction: column;
  max-height: 100vh;
  width: 100%;
}

.bgImage {
  width: 100%;
  height: 100%;
  flex: 1;
  object-fit: cover;
  cursor: pointer;
}

.videoContainer {
  /* display: flex;
  flex-direction: column; */
  height: 50vh;
  width: 100%;
  
}
footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  padding: 1rem;
}

footer div {
  display: flex;
  flex-direction: column;
}

footer h2 {
  font-size: 1.4rem;
  font-family: 'Audiowide', cursive;
}

footer h1 {
  font-size: 0.9rem;
  font-weight: 200;
}

footer button {
  background: transparent;
  border: none;
  outline: none;
  color: white;
  padding: 1rem;
  transition-duration: 200ms;
  cursor: pointer;
}

footer button i {
  font-size: 1.3rem;
}

footer button:hover {
  opacity: 0.7;
}

.bgGradient {
  position: absolute;
  inset: 0;
  z-index: -1;
  background: linear-gradient(to top, #030615, rgba(255, 255, 255, 0));
}

.sidebar {
  position: fixed;
  inset: 0;
  display: flex;
  flex-direction: column;
  z-index: 10;
}

.bgOverlay {
  position: absolute;
  inset: 0;
  background: #030615;
  opacity: 0.6;
}

.sidebarContents {
  z-index: 15;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  overflow-y: scroll;
  height: 100%;
  width: 80%;
  max-width: 800px;
  margin-left: auto;
  background: #030615;
}

.sidebarContents h2 {
  font-weight: 200;
  font-size: 1.4rem;
  font-family: 'Space Mono', cursive;
}

.sidebarContents div {
  flex: 1;
}

.sidebarContents button {
  background: transparent;
  color: white;
  border: none;
  outline: none;
  margin-right: auto;
  cursor: pointer;
  transition-duration: 200ms;
  padding: 1rem 0;
}

.sidebarContents button:hover {
  opacity: 0.7;
}

.descriptionContainer {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.descriptionTitle {
  font-size: 1.1rem;
  font-weight: 200;
  opacity: 0.8;
}

.loadingState {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
}

.loadingState i {
  opacity: 0.4;
  font-size: 3rem;
  animation: spin 1s linear infinite;
}

.apod {
  font-size: 5rem;
  animation: spin 1s linear infinite
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.logincontainer {
  align-items: center;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #feffff;
  padding: 1rem;
  color: rgb(2, 1, 7);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 100;
}

.navbar .logo {
  font-size: 0.5rem;
}

.navbar .nav-links {
  list-style: none;
  display: flex;
  gap: 1rem;
}

.navbar .nav-links li {
  display: inline;
}

.navbar .nav-links a {
  color: white;
  text-decoration: none;
  padding: 0.5rem;
  transition: background-color 0.3s ease;
}

.navbar .nav-links a:hover {
  background-color: #555;
}

.bodyC {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to bottom, #21023c, #082154, #705c8c);
  gap: 5rem;
}

.bodyContent {
  width: 90vw;
  gap: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.searchBtn {
  padding: 10px 20px;
  font-size: 16px;
  border: 2px solid transparent;
  border-radius: 50px;
  background-color: #926ccb;
  color: white;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  font-family: 'Press Start 2P', sans-serif;
  transition: background-color 0.3s, transform 0.3s;
}

.searchDates {
  padding: 10px 20px;
  font-size: 16px;
  border: 2px solid transparent;
  border-radius: 50px;
  /* background-color: #926ccb; */
  color: rgb(6, 6, 6);
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  font-family: 'Press Start 2P', sans-serif;
  transition: background-color 0.3s, transform 0.3s;
}

.bodyC p {
  font-family: 'Space Mono', sans-serif;
}
.bodyC h2 {
  font-size: 20px;
  font-family: 'Audiowide', cursive;
}
.searchBtn:hover {
  background-color: #5c3d8a;
  transform: scale(1.05);
}

.searchDates:hover {
  background-color: #5c3d8a;
  transform: scale(1.05);
}

.searchContainer {
  display: flex;
  flex-direction: column;
  height: 10%;
  background-color: #ffffff;
  width: 80%;
  border-radius: 50px;
  justify-content: space-between;
  gap: 1.5rem;
}

.searchBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 10px 5px 10px;
}

.datepicker-input {
  background-color: transparent;
  color: #926ccb;
  padding: 0px 10px 0px 10px;
  font-size: 15px;
}

.searchBar input {
  width: 50%;
  font-size: 16px;
  border: none;
  outline: none; 
  align-items: center;
  justify-content: center;
  border-radius: 50px;
}

/* Style the iframe */
.video-iframe {
  position: absolute;
  width: 100%;
  height: 80vh;
  object-fit: fill
}

@media (min-width: 768px) {
  .sidebar {
    position: relative;
    inset: unset;
    min-width: 30%;
    max-height: 100vh;
    box-shadow: 0 0 40px 1px #030615;
  }

  .sidebarContents {
    margin: unset;
    width: 100%;
  }

  .bgOverlay {
    right: 0;
    left: unset;
    width: 100vw;
  }

  .searchContainer {
    display: flex;
    flex-direction: row;
    height: 70px;
    background-color: #ffffff;
    width: 70%;
    padding: 5px;
    /*align-items: center;
    */border-radius: 50px;
    justify-content: space-between;
  
  }
  .bodyContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .bodyContent h2{
    font-size: 35px;
    line-height: 3rem
  }
  .bodyContent p{
    font-size: 15px
  }
  .searchContainer input {
    width: 50%;
    padding: 8px;
    font-size: 16px;
    border: none;
    outline: none; 
    border-radius: 50px;
    text-align: center;
  }

  .searchBar {
    justify-content: start;
  }
}